[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"
mypy = "*"
types-pyyaml = "*"
unittest2pytest = "*"
pytest-mock = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
