[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.10"
