# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v7      
      with:
        python-version: "3.14"
    - name: Install the project
      run: uv sync --locked --all-extras --dev

    - name: Lint with Ruff check
      run: uv run ruff check src --line-length=100

    - name: Format with Ruff format
      run: uv run ruff format src --line-length=100

    - name: Install project so uv run tests can find source
      run: uv pip install -e .
      
    - name: Run tests
      run: uv run pytest tests
